<div class="customer_component_wrapper">
    <div class="page-width reder_conditional_terminal">
        {%- section 'customer-register' -%}
        {% section 'ragister-sidebar-conten' %}
    </div>
</div>