.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-start,
.justify-content-left {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end,
.justify-content-right {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}


.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}


.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

