<div class="text-section-conten">
  <div class="inline_text_wrapper">
    <h2 class="gl-heading--m">{{ section.settings.sl_text_one}}</h2>
    <p class="gl-heading--s">{{ section.settings.sl_text_two }}</p>
    <p class="gl-heading--l">{{ section.settings.gsl_text_three }}</p>
  </div>
</div>

{% schema %}
{
"name": "text-container",
  "settings": [
    {
      "type": "text",
      "id": "sl_text_one",
      "label": "heading"
    },
    {
      "type": "html",
      "id": "sl_text_two",
      "label": "text-one"
    },
    {
      "type": "html",
      "id": "sl_text_three",
      "label": "text-two"
    }

  ],
  

  
  "presets": [
    {
      "category": "text",
      "name": "richtext-section"
    }
  ]
}
{% endschema %}