<section class="conten_links">
  <ul id="navMenus" class="workout_links">
  	{% for block in section.blocks %}
      <li class="workout_tab {% if forloop.first == true %}active{%endif%}"><a style="font-size:{{block.settings.links_o1}}px " href="#workout-container-{{forloop.index}}">{{block.settings.workout_links}}</a></li>
    {% endfor %}
  </ul>
</section>

<script>
	$("#navMenus").on('click', 'li', function () {
    $("#navMenus li.active").removeClass("active");
    $(this).addClass("active");
});
</script>
{% schema %}
{
"name": "workout_links",
  "settings": [
    

  ],
  
"blocks": [
     
    {
      "type": "text",
      "name": "links",
      "settings": [
        {
          "type": "text",
          "id": "workout_links",
          "label": "text"
        },
        {
          "type": "text",
          "id": "links_o1",
          "label": "size"
        },
        {
           "id": "workout_tabs",
           "type": "url",
            "label": "tab-url"
         }
      ]
    }

  ],
  
  "presets": [
    {
      "category": "text",
      "name": "workout-links"
    }
  ]
}
{% endschema %}