.cart {
  position: relative;
  display: block;
}

.cart-count-bubble {
  display: none;
}

.slicing_cart .card__heading {
  font-size: 1rem;
 
  font-family: var(--font-body-family)
}

.gl-label--bold {
  font-size: 0.6rem;
  line-height: 17px;
}

.cart_summary_links h6 {
  font-size: 0.6rem;
    line-height: 17px;
    margin-bottom: 13px;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

/* Popup box BEGIN */
.hover_bkgr_fridd{
  background:rgba(0,0,0,.4);
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  left: 0;
  width:100%;
  z-index:10000;
}

.hover_bkgr_fridd .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}

.hover_bkgr_fridd > div {
  background: var(--gradient-background);
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: 90%;
  max-width: 50%;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  padding: 15px 10px;
  overflow-y: scroll;
}

.popupCloseterm {
  background: var(--gradient-background);
  border: 1px solid #e9ecef;
  cursor: pointer;
  display: flex;
  font-family: arial;
  font-weight: 100;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2.2rem;
  line-height: 30px;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popupCloseterm:hover {
  background: var(--gradient-background);
}

.trigger_popup_fridd {
  cursor: pointer;
  font-size:1rem;
  line-height: 22px;
  display: inline-block;
  /* color: black; */
  text-decoration: underline;
}

li.trigger_popup_fridd.gl-tab-1 {
  display: none;
}

li.trigger_popup_fridd.gl-tab-2 {
  display: none;
}

p.text_conten_ppc {
  margin: 0;
  text-align: start;
  /* color: black; */
  font-size: 0.9rem;
  line-height: 22px;
  font-weight: var(--font-heading-weight);
}

.gl-modal__main-content {
  padding: 0 10px;
}

p.text-conten_hcl {
  margin: 7px 0 7px 0;
  text-align: start;
  /* color: black; */
}

ul.plus_contener {
  margin: 0;
  padding: 0;
  text-align: start;
  /* color: black; */
}

ul.plus_contener li {
  margin-bottom: 13px;
  font-size:0.8rem;
  padding-left: 7px;
}

h4.hp_title_worrier {
  text-align: start;
  font-size: 1.2rem;
  line-height: 24px;
  letter-spacing: 1px;
}

p.link_texter {
  /* color: black; */
  text-align: start;
  font-size: 1rem;
  line-height: 22px;
  margin-bottom: 16px;
}

p.link_texter a {
  /* color: black; */
}

ul.one_daimention {
  text-align: start;
  /* color: black; */
  padding: 0;
  margin: 15px 0;
}

ul.one_daimention li {
  margin-bottom: 13px;
  font-size: 0.8rem;
  padding-left: 7px;
  line-height: 20px;
}

p.gift_conten {
  text-align: start;
  /* color: black; */
  font-weight: var(--font-heading-weight);
  font-size: 0.9rem;
  line-height: 22px;
}

ul.two_daimention {
  text-align: start;
  /* color: black; */
  padding: 0;
  margin: 15px 0;
}

ul.two_daimention li {
  margin-bottom: 13px;
  font-size: 0.8rem;
  padding-left: 7px;
  line-height: 20px;
}

p.above_text {
  text-align: start;
  /* color: black; */
  font-size: 1rem;
  line-height: 22px;
  margin-bottom: 16px;
}
/* Popup box BEGIN */

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

.cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer {
  padding: 4rem 0 0;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  height: fit-content;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after, .cart__note:hover.cart__note:after,
.cart__note:before, .cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-radius-outset) !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}

.cart__warnings a {
   align-items: center;
  padding: 0 14px;
  font-weight: var(--font-heading-weight);
  text-decoration: none !important;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .hover_bkgr_fridd>div {
    max-width: 91%;
    width: 91%;
  }
}
