.search__input.field__input {
  padding-right: 1rem;
}

.search__button {
  right: var(--inputs-border-width);
  top: var(--inputs-border-width);
}

.search__button:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 2;
  padding-left:12px;
}

.search__button:focus {
  background-color: rgb(var(--color-background));
  z-index: 2;
}

.search__button:not(:focus-visible):not(.focused){
  box-shadow: inherit;
  background-color: inherit;
}

.search__button .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.search__input.field__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  /* color: #767677; */
  opacity: 1; /* Firefox */
  padding-left:8px;
}

.search__input.field__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  /* color: #767677; */
  padding-left:8px;
}

.search__input.field__input::-ms-input-placeholder { /* Microsoft Edge */
  /* color: #767677; */
  padding-left:8px;
}
/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

label.field__label {
  font-size: 0.9rem;
  left: 9px;
}

.search__input.field__input {
  padding: 0px !important;
  margin: 0px;
  border: none;
  border-bottom: 1px solid rgb(var(--color-foreground));
  height: 37px;
  width: 140px;
  font-size: 0.8rem;
}

.field:after, .select:after, .customer .field:after, .customer select:after, .localization-form__select:after {
  content: none;
}

/* button.search__button.field__button img {
  width: 20px;
} */

/* a.header__icon.header__icon--account.link.focus-inset .login_defolt {
  width: 21px;
  margin-left:23px
}

a.header__icon.header__icon--cart.link.focus-inset .cart_defolt {
  width: 21px;
  margin-left:23px
} */

.header__icon, .header__icon--cart .icon {
  float: left;
}

details-modal.header__search {
  display: none !important;
}

.search__input.field__input:focus {
  box-shadow: none;
}

.header__icon.header__icon--cart {
  margin-right: 0px;
  margin-left: 0.5rem;
  padding-bottom: 5px;
}

.header__icon.header__icon--account {
  /* margin-left: 8px; */
  padding-bottom: 5px;
}

.header .search__button {
  height: auto;
  width: 1.25rem;
}

@media only screen and (max-width: 767px) {
	a.header__icon.header__icon--account.link.focus-inset img {
      width: 20px;
      margin-left: 0px;
    }
  
    a.header__icon.header__icon--account.link.focus-inset.small-hide img, a.header__icon.header__icon--cart.link.focus-inset img {
      margin-left: 0px;
    }
  
    .header__icon:not(.header__icon--summary), .header__icon span {
      justify-content: flex-end;
      /* margin-left: 7px; */
    }
  
    a.header__icon.focus-inset {
      margin-right: 0px;
    }

    .header__heading, .header__heading-link {
      justify-self: right;
    }
  
}

@media only screen and (max-width: 769px) {
   details-modal.header__search {
     display: block !important;
   }
  
   .search.search-modal__form {
    display: none;
   }
  
   .header__icon. svg#Layer_1 {
    width: 20px;
  }
}