.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
  background-color: rgb(var(--color-background));
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {}

.list-menu__item--active:hover {}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}


.header.header--middle-left.header--has-menu {
  padding-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.ul.list-menu.list-menu--inline li:hover>ul {
  display: block;
}

.header__active-menu-item {
  text-decoration: none;
}

.menu-drawer__navigation {
  padding-top: 0px;
}

.menu-drawer__menu.list-menu li {
  /* border-bottom: 1px solid #f3f3f3; */
}

.footer-block__heading {
  font-weight: var(--font-body-weight);
  letter-spacing: 2px;
  font-family: var(--font-body-family);
}

.second-footer-menu-inner {
  list-style: none;
}

.second-footer-menu-heading {
  font-weight: var(--font-body-weight);
  letter-spacing: 2px;
  margin-bottom: 17px;
  margin-top: 17px;
}

.second-footer-menu-inner a {
  text-decoration: none;
}



/* .footer__blocks-wrapper {
  width: 1010px;
  margin: auto;
} */

.footer-block__details-content .list-menu__item--link {
  padding: 0px;
  font-size: 0.875rem;
}

@media only screen and (max-width: 767px) {
  .footer__blocks-wrapper {
    width: auto;
    margin: auto;
  }
}

@media only screen and (max-width: 769px) {
  .new-side-menu-link {
    list-style: none;
    display: inline-block;
    margin-left: 0;
    width: 100%;
  }

  .new-side-menu-link a {
    /* color: #000; */
    /* font-size: 16px !important; */
    text-decoration: none !important;
    /* text-transform: capitalize; */
    /* line-height: 41px; */
    /* float: left; */
  }

  .menu-drawer__menu-item.list-menu__item {
    font-size: 0.875rem;
    font-weight: var(--font-body-weight);
  }

  .menu-drawer__menu-item.list-menu__item {
    font-size: 0.875rem;
  }

  /* .menu-drawer__menu-item.list-menu__item.link.link--text.focus-inset.menu-drawer__menu-item--active {
    font-size: 0.875rem;
  } */

  .new-side-menu-outer {
    padding: 0 30px;
  }
}