.collection-hero__inner {
  display: flex;
  flex-direction: column;
  position: relative;
}

.collection-hero__text-wrapper {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
}

.second_collection-hero__title {
  text-align: center;
}


.pt-sort-selector {
  display: none;
}

.product-count {
  display: none;
}

.facets-container {
  justify-content: end;
}

menu-drawer.mobile-facets__wrapper {
  padding: 4px 10px;
}

span.mobile-facets__open {
  font-weight: var(--font-heading-weight);
}

.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
    padding: 0;
  }

  .collection-hero--with-image .collection-hero__inner {
    padding-bottom: 0;
  }
}

.collection-hero__text-wrapper {
  flex-basis: 100%;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0;
  }

  .collection-hero__inner {
    align-items: center;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
}

.collection-hero__title {
  margin: 2.5rem 0;
}

.collection-hero__title + .collection-hero__description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .collection-hero__description {
    max-width: 100%;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
  }
}

.collection-hero--with-image .collection-hero__title {
  margin: 0;
}

.collection-hero__image-container {
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset)
    var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: 20rem;
  }
  
  .diss_title_new {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .diss_subtitle_new {
    font-size: 1rem;
    line-height: 19px;
    margin: 12px 0 10px;
  }
  .diss_subtitle_new_one {
    font-size: 0.8rem;
  }
  .collection_conten_discription .colam_two {
  	width: 100% !important;
    padding: 0 !important;
  }
  
}

@media screen and (min-width: 750px) {
   .collection-hero__image-container {
    align-self: stretch;
    flex: 1 0 50%;
 	min-height: 20rem;
  }
}

.diss_title_new {
	font-size: 1.8rem;
    line-height: 30px;
    margin: 0 0 10px 0;
    font-style: normal;
    font-family: var(--font-body-family);
    text-transform: uppercase;
}

.diss_subtitle_new {
	font-size: 1.3rem;
    line-height: 20px;
    margin: 20px 0 10px 0;
    font-style: normal;
    font-family: var(--font-body-family);
    text-transform: uppercase;
}

.diss_text_new {
	font-size:1rem;
    line-height: 22px;
    margin: 0 0 16px 0;
    padding: 0;
}

.diss_subtitle_new_one {
	font-size: 1.3rem;
    line-height: 18px;
    font-style: normal;
    font-family: var(--font-body-family);
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

.row_diss {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.collection_conten_discription .colam_two {
	width: 33.3333333333%;
    columns: 2;
    column-fill: balance;
    float: left;
    padding: 0 15px 0 0;
    display: block;
}

.collection_conten_discription .strap_conten {
	margin-bottom: 0;
    text-transform: capitalize;
    margin: 0;
}

.collection_conten_discription .strap_links {
	font-size:0.8rem;
    line-height: 0;
    margin-bottom:0;
    font-style: normal;
    font-family: var(--font-body-family);
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    border: none
}



.collection_conten_discription .strap_links p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 0.8rem;
    line-height: 22px;
    /* color: black; */
}

.diss_links_conten {
    margin-top: 40px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}