.main-frequently-asked-questions .page-width {
  padding-left: 15px;
  padding-right: 15px;
}

.faq_row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.section_by-deatils {
  width: 83.33333%;
  margin-left: 8.3333333333%;
}

.component-wrapper___2BSGCS {
  position: relative;
  width: 100%;
}

section.necessary_conten {
  position: relative;
  width: 100%;
  padding: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  display: flex;
}

.content___1jDXzw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: 58.3333333333%;
  float: left;
  padding: 0 15px;
}

.main-frequently-asked-questions {
  padding-top: 40px;
}

h2.Faq_head_title {
  font-size: 30px;
  line-height: 28px;
  margin: 10px 0;
}

ul.ctas___1HCiK {
  margin: 0;
  list-style: none;
  padding: 0;
}

li.cta___2bw7D {
  margin: 15px 0;
}

li.cta___2bw7D a {
  color: black;
}

li.cta___2bw7D a {
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

li.cta___2bw7D a:hover {
  color: white;
  background: black;
}

h2.faq_tabs_title {
  font-weight: 700;
  line-height: 38px;
  margin: 0 0 30px 0;
}

/* ----------------faq-tabs----------- */

section.tab_faq_container {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.component-wrapper_links {
  display: flex;
}

.tabs_text_conten {
  width: 70%;
  background: #f3f3f3;
}

section.tab_faq_container .tab {
  width: 100%;
}

section.tab_faq_container .tabs-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0 15px;
}

li.cta___2bx8t a {
  color: black;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Neue Plak';
  font-weight: 100;
}

ul.ctas___1Htmc {
  padding: 0 15px;
  list-style: none;
}

section.tab_faq_container .tab button {
  display: block;
  padding: 10px 5px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  background: white;
  border-bottom: 1px solid #9a9a9a;
}

section.tab_faq_container .tab button.active {
	font-weight: bold;
}

section.tab_faq_container .tabcontent {
  float: left;
  padding: 0px 12px;
  width: 100%;
  border-left: none;
}

.helpCategory___fews {
  display: flex;
  align-items: center;
}

.faq-icone-img {
  padding-right: 20px;
}

.faq-icone-img img {
  width: 30px;
  height: 30px;
}

.faq_arrow_now {
  margin-left: auto;
  display: none;
}

section.tab_faq_container .tab button.active .faq_arrow_now {
	display: block;
}

.faq_arrow_now img {
  width: 9px;
}

.vertical_faq_tabs {
  display: flex;
}

li.cta___2bx8t a:hover {
  background: black;
  color: white;
}

/* ----------------------------------- */
.frequently_text-colums {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-divice-text {
  width: 33.33%;
  padding-bottom: 32px;
  padding-left: 27px;
  padding-right: 27px;
}

.head_title_text h2 {
  margin: 0 0 20px 0;
  line-height: 18px;
}

.detox_text a {
  font-weight: 600;
}

.detox_text a:hover {
  background: black !important;
  color: white !important;
}

.detox_text p {
  margin: 0 0 15px 0;
  line-height: 22px;
}

.colums-wrapper-term {
  padding-bottom: 30px;
}

.faq-colums_container {
  margin-bottom: 30px;
  padding-bottom: 40px;
}

/* -----------accordian------------------- */
section.mibile_tab_faq_container {
  display: none;
}

.accordion {
  cursor: pointer;
  padding: 13px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  background: white;
  position: relative;
}

.accordian_difolt {
  border: 1px solid #e9ecef;
}

.active, .accordion:hover {

}

.accordion:after {
  content: '\f0d7';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-family: fontawesome;
  position: absolute;
  right: 15px;
  bottom: 18px;
}

.accordion.active:after {
  content: "\f0d8";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.mobile_faq-title_label {
  font-weight: 600;
}

/* ------------end-------------------------- */
@media screen and (max-width: 767px) {
  .section_by-deatils {
    width: 100%;
    margin: 0;
  }
  
  .content___1jDXzw {
    width: 100%;
  }
  
  h2.Faq_head_title {
    font-size: 26px;
    line-height: 26px;
  }
  
  .main-frequently-asked-questions {
    padding-top: 20px;
  }
  
  .main-divice-text {
    width: 100%;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .head_title_text h2 {
  	margin-bottom: 12px;
  }
  
  h2.faq_tabs_title {
  	font-size: 30px !important;
    line-height: 28px;
  }
  
  section.tab_faq_container {
    display: none;
  }
  
  section.mibile_tab_faq_container {
    display: block;
    margin-bottom: 30px;
  }
  
  li.cta___2bx8t {
    margin-bottom: 9px;
  }
}  