.blog-articles .card-wrapper {
  width: 100%;
}



.card__inner.color-background-2.ratio .card__content {
  display: none;
}

@media screen and (min-width: 990px) {
  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio .ratio::before {
    padding-bottom: 27.5rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 55rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 82.5rem;
  }
}

/* ------------------------------------------- */

h1.title--primary {
  font-size: 2.62rem;
  line-height: 38px;
  font-family: var(--font-body-family);
  font-style: normal;
  font-weight: var(--font-heading-weight);
  text-transform: uppercase;
}

.blog-articles__article {
  width: 65%;
  margin-bottom: 20px;
}

.blog-articles__article {
  width: 100%;
}

.blog-articles__article .card--media {
  display: flex;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
}

.blog-articles__article .color-accent-1 {
  width: 65%;
}

.blog-articles__article .card__content {
  width: 35%;
}

.blog-articles__article .card__information {
  background: var(--gradient-background);
  margin: 0 0 0 -110px;
  z-index: 1;
  padding: 22px 28px;
}

.blog-articles__article .caption-with-letter-spacing {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
}

.blog-articles__article .caption-with-letter-spacing  span {
  color: rgb(var(--color-foreground));
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: .3px;
  text-transform: inherit;
  line-height: 1.7;
}

.blog-articles__article .full-unstyled-link {
  font-size: 0.9rem;
  font-weight: var(--font-heading-weight);
  font-family: var(--font-body-family);
}

.blog-articles__article .article-card__excerpt {
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgb(var(--color-foreground));
}

.blog-articles__article .card--media {
  display: flex;
  padding: 0;
  align-items: start;
}

.blog-articles__article .card__inner {
  width: 30%;
}

.blog-articles__article .card__information {
  padding-top: 0;
  margin-left: 18px;
}

.blog_wrapper {
  list-style: none;
  padding: 0 15px;
  display: flex;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.blog_wrapper li {
  padding: 0.875rem 1.125rem;
  border-bottom: 2px solid transparent;
}

li.blog-terminal.update-blog {
  border-bottom: 2px solid black;
}

li.blog-terminal.active {
  border-bottom: 2px solid black !important;
}

.blog_wrapper li:hover {
  border-bottom: 2px solid black;
}
li.blog-terminal.active a {
  font-weight: var(--font-heading-weight);
  color: #000;
}

li.blog-terminal.update-blog a {
  font-weight: var(--font-heading-weight);
  color: #000;
}

h1.custom-blog-head {
  font-size: 2.62rem;
  line-height: 38px;
  font-family: var(--font-body-family);
  font-style: normal;
  font-weight: var(--font-heading-weight);
  text-transform: uppercase;
  margin-top: 5px;
}

.blog_categories.active li.blog-terminal.update-blog{
  border-bottom: 2px solid transparent;
}

.blog_categories.active li.blog-terminal.update-blog a{
  font-weight: 100;
  color: #767677;
}
.blog_wrapper li a {
  color: #767677;
  text-decoration: none;
  font-size: 1rem;
  font-weight: var(--font-body-weight);
  font-family: var(--font-body-family);
}

.blog_categories {
  border-bottom: 1px solid #e9ecef;
}

.main-blog .title--primary {
    margin-top: 	0.625rem;
}

.article-template__back.element-margin-top.center {
  display: none;
}


@media screen and (max-width: 767px) {
  .blog-articles__article .card__inner {
    width: 33%;
  }
  
  .blog-articles__article .card__content {
    width: 67%;
    padding: 10px;
  }

  .blog-articles__article.custom-blog-1 .card__inner.color-background-2 {
    width: 100% !important;
  }

  .blog-articles__article.article.custom-blog-1 .card__content {
    width: 100%;
    position: relative;
    left: 0 !important;
}
  
  .blog-articles__article .card__information {
    background: var(--gradient-background);
    margin: 0;
    z-index: 1;
    padding: 	1.125rem 0;
  }
  
  .article-card__excerpt.rte-width {
    display: none;
  }
  
  .blog-articles__article.article {
    width: 100%;
  }
  
  .blog_wrapper {
  	overflow-x: scroll;
  }
  
  .blog-articles__article .caption-with-letter-spacing {
  	margin-bottom: 0.8125rem;
  }
  
}