/* .blog-articles {
  display: grid;
  grid-gap: 1rem;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
} */

.blog-articles .card-wrapper {
  width: 100%;
}

@media screen and (min-width: 750px) {
/*   .blog-articles {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing); 
  } */

/*   .blog-articles--collage > *:nth-child(3n + 1),
  .blog-articles--collage > *:nth-child(3n + 2):last-child {
    grid-column: span 2;
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .card,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .card {
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio::before {
    padding-bottom: 22rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 44rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 66rem;
  } */
}

@media screen and (min-width: 990px) {
  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio .ratio::before {
    padding-bottom: 27.5rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 55rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 82.5rem;
  }
}

/* ------------------------------------------- */

h1.title--primary {
    font-size: 42px;
    line-height: 38px;
    font-family: "Neue Plak Wide",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
.blog-articles__article.article {
	width: 65%;
    margin-bottom: 20px;
}
.blog-articles__article.article.custom-blog-1 {
    width: 100%;
}
.blog-articles__article.article.custom-blog-1 .card.article-card.card--standard.article-card__image--medium.card--media {
    display: flex;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
}
.blog-articles__article.article.custom-blog-1 .card__inner.color-accent-1.ratio {
    width: 65%;
}
.blog-articles__article.article.custom-blog-1 .card__content {
    width: 35%;
}
.blog-articles__article.article.custom-blog-1 .card__information {
    background: white;
    margin: 0 0 0 -110px;
    z-index: 1;
    padding: 22px 28px;
}
.blog-articles__article.article .article-card__info.caption-with-letter-spacing.h5 {
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
}
.blog-articles__article.article .article-card__info.caption-with-letter-spacing.h5  span {
	color: black;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    text-transform: inherit;
    line-height: 1.7;
}
.blog-articles__article.article a.full-unstyled-link {
    font-size: 14px;
    font-weight: 600;
    font-family: "Neue Plak", Helvetica, Arial, sans-serif;
}
.blog-articles__article.article p.article-card__excerpt.rte-width {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.5;
    color: black;
}
.blog-articles__article.article .card.article-card.card--standard.article-card__image--medium.card--media {
    display: flex;
    padding: 0;
    align-items: start;
}
.blog-articles__article.article .card__inner.color-accent-1.ratio {
    width: 30%;
}
.blog-articles__article.article .card__information {
    padding-top: 0;
    margin-left: 18px;
}
ul.blog_wrapper {
    list-style: none;
    padding: 0 15px;
    display: flex;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
ul.blog_wrapper li {
    padding: 14px 17px;
}
ul.blog_wrapper li:hover {
	border-bottom: 2px solid black;
} 
ul.blog_wrapper li a {
	color: #767677;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.blog_categories {
    border-bottom: 1px solid #e9ecef;
}

@media screen and (max-width: 767px) {
	.blog-articles__article.article.custom-blog-1 .card__inner.color-accent-1.ratio {
      width: 100%;
   }
   .blog-articles__article.article.custom-blog-1 .card__content {
        width: 100%;
    }
    .blog-articles__article.article.custom-blog-1 .card__information {
    background: white;
    margin: 0;
    z-index: 1;
    padding: 18px 0;
   }
   p.article-card__excerpt.rte-width {
    display: none;
   }
   .blog-articles__article.article {
    width: 100%;
   }
  ul.blog_wrapper {
  	overflow-x: scroll;
  }
  .blog-articles__article.article .article-card__info.caption-with-letter-spacing.h5 {
  	margin-bottom: 13px;
  }
}