@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .css-grid {
  	display: flex;
  }
  
  .css-grid .grid__item {
  	max-width: auto;
  }
  
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.css-grid .grid__item {
  max-width: 100%;
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.collection__view-all {
  margin-top: 2rem;
}

.featured-collection .section-title {
  letter-spacing: 0;
}

.featured-collection .swiper-wrapper {
  margin-bottom: 0;
}

.featured-collection .card-wrapper {
  padding-bottom: 1rem;
}

.featured-collection .new-slider.slick-initialized .grid__item {
  max-width: 100%!important;
}

@media screen and (min-width: 750px) {
  .featured-collection .card-wrapper {
    padding-bottom: 1rem;
  }
}

.featured-collection .link-with-icon--right {
  padding-right: 0.75rem;
}

.main-filter-content {
  width: 100%;
}

li.grid__item.product-item:hover {
  border: 1px solid black;
}
